<div class="header">
  <div class="nav-wrapper">
    <a class="title" href="/">Trade Cars</a>
    <ul id="nav">
      <% for(var page of navPages) { %>
        <% if(page.url === activeUrl) { %>
          <li><a class="active" href=<%= page.url %>><%= page.name %></a></li>
        <% } else { %>
          <% if(login && page.onLogIn) { %>
            <% if(page.url === '/logout') { %>
              <li class="login">Logged in as: <%= user %>  </li>
            <% } %>
            <li><a href=<%= page.url %>><%= page.name %></a></li>
          <% } else if (!login && page.onLogOut) { %>
            <li><a href=<%= page.url %>><%= page.name %></a></li>
          <% }} %>
      <% } %>
    </ul>
  </div>
</div>