<%- include("header") %>

<div class="body">
    <title>Trade Cars</title>
    <h1 className="prod-heading">Product:</h1>
    <div className="prod">
        <% if(!product || product === undefined) { %>
            <label>THERE IS NO CAR</label> 
        <% } else { %>  
            
            <ol>
                <li>Make: <%= product.make %></li>
                <li>Model: <%= product.model %></li>
                <li>Year: <%= product.year %></li>
                <li>Mileage: <%= product.mileage %></li>
                <li>Price: <%= product.price %></li>
                <li>Description: <%= product.description %></li>
            </ol>
            <label>Seller: <%= product.user.name %></label> 
        <% } %> 
    </div>
  </div>
  
  <link href="/styles/style.css" rel="stylesheet" type="text/css">

  <!-- make: String,
  model: String,
  year: Number,
  mileage: Number,
  description: String,
  price: Number</Make: <%= product.make %></li> -->